.App {
  text-align: center;
  margin-bottom: 110px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto
}

.App > img {
  max-width: 100px;
  max-height: 100px;
  height: auto;
  width: auto;
  margin: auto;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background: #e9e9eb;
  width: 90%;
  margin: 20px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}